:root{
    --primario: #9C27B0;
    --primariooscuro: #89119D;
    --secundario: #dab10d;
    --secundarioscuro: rgb(179, 145, 11);
    --blanco: #fff;
    --negro: #000;
    --fuenteprincipal: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*Globales*/
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;               /*interlineado*/
    font-family: var(--fuenteprincipal);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: var(--blanco);
}
a{                                  /* a se utiliza para los enlaces*/
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 100rem;
    margin: 0 auto;                  /*para centrarlo*/
}
h1, h2, h3{
    text-align: center;
    font-family: var(--fuenteprincipal);
    color: var(--secundario)
}
h1{
    font-size: 4rem;
    color: var(--secundario)
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
/*navegacion*/
.nav{
    display: flex;
    justify-content: center;
    background-color: var(--primariooscuro);
    padding: 1rem 0;
    gap: 2rem;/*espacio horizontal*/
}
.nav__link{
    color: var(--blanco);
    font-family: var(--fuenteprincipal);
    font-size: 2.5rem;
}
.nav__link--active,
.nav__link:hover{
    color: var(--secundario);
}
/*header*/
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}
/*footer*/
.footer{
    background-color: var(--primariooscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__text{
    font-size: 2rem;
    font-weight: lighter;
    color:var(--blanco);
    font-family: var(--fuenteprincipal);
    text-align: center;
}
/*tshirt*/

.tshirt__image{
    width: 100%;
}
@media(min-width: 768px){
    .tshirt{   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    }
}

/*form*/
.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}
.form__place{
    border-color: var(--primariooscuro);
    border-width: 1rem;
    border-style: solid;
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}
.form__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    padding: 2rem;
    transition: background-color .3s ease;  /*transición*/
    margin-top: 1rem;
    grid-column: 1/3;
}
.form__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioscuro); 
}